.auto-resize-textarea {
  background-color: rgba(255, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 24px;
  margin: 10px;
  position: relative;
}

.auto-resize-textarea__doppelganger {
  color: Green;
  white-space: pre-wrap;
}

.auto-resize-textarea__textarea {
  appearance: none; /* We should tell the user agent we are revamping the style */
  border: 0;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  left: 0;
  margin: 0;
  outline: 0;
  overflow: hidden; /* For hiding the scroll bar in IE11 */
  padding: 0;
  position: absolute;
  resize: none; /* Hiding the textarea resizing handle (on lower-right hand corner) */
  top: 0;
  width: 100%;

  /* Styles below this line is for development use only */

  color: Red;
  opacity: 0.5;
}
